@model IEnumerable<FTWebApplication.Player>

@{
    ViewData["Title"] = "Гравці в клубі";
}

<h1>Гравці в клубі @ViewBag.TeamsName </h1>

<p>
    @Html.ActionLink("Додати нового гравця", "Create", new{teamId = @ViewBag.TeamsId})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberPlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolePlayer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdTeamFkNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberPlayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RolePlayer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdTeamFkNavigation.NameTeam)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPlayer">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPlayer">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPlayer">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
