@model FTWebApplication.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CostTicket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CostTicket)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateMatch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateMatch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BallFirst)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BallFirst)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BallSecond)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BallSecond)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdStadiumNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdStadiumNavigation.IdStadium)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTeamAtNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTeamAtNavigation.NameTeam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTeamHtNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTeamHtNavigation.NameTeam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdMatch">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
