@model FTWebApplication.staff

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>staff</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FioStaff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FioStaff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoleStaff)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoleStaff)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTeamFkkNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTeamFkkNavigation.NameTeam)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdStaff">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
