@model IEnumerable<FTWebApplication.Stadium>

@{
    ViewData["Title"] = "Стадіон";
}

<h1>Стадіони</h1>

<p>
    <a asp-action="Create">Додати новий стадіон</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdStadium">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdStadium">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdStadium">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
